#mainDiv {
    background-image: url('../../resources/landing.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 970px;
    text-align: center;
    color: slategrey;
    padding: 20px;
}
#mainLanding {
    padding: 30%;
}
