#loginMain {
    background-image: url('../../resources/landing.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 970px;
    padding: 40px;
}

#registerMain {
    background-image: url('../../resources/landing.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 970px;
}

#loginFormContainer { padding: 60px; width: 500px; margin-top: 50px;}
#loginFormContainer h1 {color: antiquewhite;}